
.quote-wrapper{
  padding: 5rem 6rem; // changing from 5 to 6 means less padding under ubtton?
}

.quote-section{
  background-color: $sandy-brown;
  color: $beige-white;
  border-radius: 4px;
}

.quote-caption{
  padding: 0rem 3rem;
}

.quotation{
  width: 100%;
  height: auto;
  max-width: 40px;
}

.quote-caption h3{
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: $jakarta;
}

.quote-caption .chairman{
  font-weight: 700;
  font-size: larger;
  font-family: $CG;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.quote-caption p:not(.chairman){
  font-weight: 200;
  font-size: smaller;
  font-family: $jakarta;
}

.quote-section img{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.about-btn{
  background-color: $beige-white;
  color: $lighter-brown;
  transition: 200ms ease-in-out;
  font-family: $jakarta;
}

.about-btn:hover{
  background-color: $beige-white;
  color: $lighter-brown;
  opacity: .8;
}
