
.discover-section{
  padding: 3rem 5rem;
}

.discover-section h1{
  font-weight: 200;
  color: $grey-black;
  font-family: $CG;
}

.discover-section img{
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.discover-name{
  background-color: $lighter-brown;
  color: $beige-white;
  border-radius: 4px;
  font-size: 1rem;
}

.discover-caption h4{
  font-family: $CG;
}

.discover-caption p:not(.discover-name){
  color: $grey-black;
  font-size: smaller;
}

.discover-caption p{
  font-family: $jakarta;
}

.discover-caption a{
  text-decoration: none;
  color: $grey-black;
  font-family: $jakarta;
}
