
.footer-section{
  background-color: $sandy-brown;
  color: $beige-white;
  font-family: $jakarta;
}

footer{
  padding: 3rem;
  font-size: small;
  opacity: .7;
}

.footer-section img{
  width: 100%;
  margin: auto;
  max-width: 200px;
  padding-top: 2rem;
}
