.brand-logo{
  width: 100%;
  height: auto;
  max-width: 150px;
}

.navbar{
  background-color: $sandy-brown;
  font-family: $signika;
}

.navbar-nav .nav-link{
  color: $beige-white;
  font-weight: 300;
}

.navbar-nav .nav-link:hover{
  color: $beige-white;
  opacity: .7;
}

.navbar-nav .nav-link.active{
  color: $beige-white !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.login-btn{
  background-color: $beige-white;
  color: $grey-black;
  font-size: small;
  border-radius: 1rem;
  padding: 0.7rem 2rem;
  transition: 200ms ease-in-out;
}

.login-btn:hover{
  background-color: $beige-white;
  color: $grey-black;
  opacity: .7;
}
