
.offers-section{
  padding: 3rem 5rem;
}

.offers-section img{
  width: 100%;
  height: 500px;
  opacity: .9;
  border-radius: 4px;
}

.offers-header{
  font-size: larger;
  color: $lighter-brown;
  font-weight: 300;
}

.offers-caption{
  top: 10%;
  color: $beige-white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.offers-caption h4{
  padding-bottom: 7rem;
}

.offers-caption h3{
  padding-bottom: 7rem;
}


.chairman-btn{
  background-color: $lighter-brown;
  color: $beige-white;
  border-radius: 4px;
  font-size: .7rem;
  padding: 0.2rem 2.5rem;
}


.promotions-wrapper p{
  font-weight: 300;
  font-size: smaller;
  line-height: 1.5rem;
}



.view-btn{
  background-color: $lighter-brown;
  color: $beige-white;
  border-radius: 4px;
  font-size: 1rem;
  transition: 200ms ease-in-out;
}

.view-btn:hover{
  background-color: $lighter-brown;
  color: $beige-white;
  opacity: .8;
}
