

@media (max-width: 992px){

  // NAVBAR

  .navbar-nav .nav-link{
    padding: 1rem 1rem;
  }

  .login-btn{
    margin-left: 0rem !important;
  }

  // luxury section

  .luxury-section{
    padding: 5rem 0rem !important;
  }

  // discover cards

  .discover-section{
    padding: 5rem 1rem;
  }

  // tabs

  .tabs-wrapper{
    padding: 2rem 1rem;
  }

  // about

  .quote-wrapper{
    padding: 3rem 2rem;
  }

  .quote-caption{
    padding: 2rem 2rem;
  }

  .quote-caption h3{
    font-size: medium;
  }

  .quotation{
    width: 10%;
  }

  // offers

  .offers-section{
    padding: 3rem 1rem;
  }

  // awards


  .awards-section{
    padding: 0;
  }

  .awards-section img{
    padding: 5rem 1rem;
  }

}



@media (max-width: 767px){

  // NAVBAR

  .navbar-nav .nav-link{
    padding: 1rem 1rem;
  }

  .login-btn{
    margin-left: 0rem !important;
  }

  // FORM

  #destination{
    font-size: .6rem;
  }

  #date{
    font-size: .6rem;
  }

  #length{
    font-size: .6rem;
  }

  #rooms{
    font-size: .6rem;
  }

  // luxury section

  .luxury-section{
    padding: 3rem 2rem !important;
  }

  .luxury-section img{
    padding-top: 2rem;
  }

  // discover cards

  .discover-section{
    padding: 3rem 1rem;
  }

  .discover-section .col-md-4{
    margin: 2rem 0rem 2rem 0rem;
  }

  // tabs

  .tabs-wrapper{
    padding: 1rem 1rem;
  }

  // about

  .quote-wrapper{
    padding: 2rem 2rem !important;
  }

  .quote-caption{
    padding: 3rem 3rem;
  }

  .quote-caption h3{
    font-size: medium;
  }

  .quotation{
    width: 10%;
  }

  // offers

  .offers-section{
    padding: 0;
  }

  .offers-section .col-md-4{
    margin: 2rem 0rem 2rem 0rem;
  }

  // awards

  .awards-section{
    padding: 0;
  }

  .awards-section img{
    padding: 4rem;
  }
}
