
.tabs-wrapper{
  padding: 3rem 5rem;
}

.tabs-header{
  font-family: $CG;
}

.tabs-wrapper h1{
  color: $grey-black;
}

.tabs-wrapper h4{
  color: $grey-black;
  font-size: large;
  font-family: $CG;
}


.country-card h1{
  // background-color: rgba(255, 255, 255, 0.6);
  // background-color: rgba(227, 228, 206, .9);
  background-color: $lighter-brown;
  color: $beige-white;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
  bottom: 28%;
  font-family: $jakarta;
}

.country-captions{
  background-color: rgba(227, 228, 206, .9);
  border-top-right-radius: 4px;
  // border-bottom-right-radius:4px;
  font-family: $jakarta;
}

.country-captions h3{
  font-size: x-large;
  color:  $lighter-brown;
}

.country-captions .smaller-caption{
  font-size: small;
  opacity: .8;
  color: $grey-black;
}

.country-captions p:not(.smaller-caption, .view-resort){
  font-weight: 300;
  color: $grey-black;

}

.country-captions a{
  text-decoration: none;
}

.view-resort{
  font-size: small;
  color: $lighter-brown;
  font-weight: 600;
}

.country-card img{
  width: 100%;
  height: 700px;
}

.tabs-wrapper .nav-link{
  color: $lighter-brown;
  font-family: $jakarta;
}

.tabs-wrapper .nav-link.active{
  background-color: $lighter-brown;
  color: $beige-white;
}
