
// DEFINE COLOURS & FONTS

$sandy-brown: #96896D;
$beachy-brown: #6D6247;
$lighter-brown: #7D7053;
$beige-white: #E3E4CE;
$grey-black: #32322F;

$paris-font: 'Parisienne', cursive; // MAIN TITLE
$kalnia: 'Kalnia', serif; // MAIN TITLE
$signika: 'Signika', sans-serif; // NAVBAR
$CG: 'Cormorant Garamond', serif; // HEADERS
$jakarta : 'Plus Jakarta Sans', sans-serif; // PARAGRAPHS

@import 'navbar';
@import 'banner';
@import 'form';
@import 'carousel';
@import 'cards';
@import 'tabs';
@import 'about';
@import 'awards';
@import 'offers';
@import 'footer';
@import 'responsive';

.thin-banner{
  background-color: $beachy-brown;
}

.thin-banner p{
  font-size: medium;
  color: $beige-white;
  font-family: $kalnia;
  cursor: pointer;
  padding: .5rem .5rem;
  animation: bannerReveal 2s ease-in-out;
}

@keyframes bannerReveal{
  from{transform: translate(-50%);}
  to{transform: translate(0%);}
}

.primary-bg{
  background-color: $beige-white;
}

.luxury-section{
  // padding: 5rem 12rem;
  padding: 5rem 5rem;
  color: $grey-black;
}

.luxury-section h1{
  font-family: $CG;
}

.luxury-section p{
  font-weight: 300;
  line-height: 1.8rem;
  font-family: $jakarta;
}

.luxury-section img{
  border-radius: 4px;
}

.read-btn{
  background-color: $lighter-brown;
  color: $beige-white;
  transition: 200ms ease-in-out;
}

.read-btn:hover{
  background-color: $lighter-brown;
  color: $beige-white;
  opacity: .8;
}


.chevron-up{
  color: $lighter-brown;
  font-size: xxx-large;
  float: right;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.chevron-up:hover{
  opacity: .8;
}

.sticky{
  position: sticky;
  top: 10px;
  right: 1rem;
}
