
// DEFINE COLOURS & FONTS

$sandy-brown: #96896D;
$beachy-brown: #6D6247;
$darker-brown: #7D7053;
$beige-white: #E3E4CE;
$grey-black: #32322F;

$paris-font: 'Parisienne', cursive;
$kalnia: 'Kalnia', serif;

@import 'navbar';
@import 'collage';


.thin-banner{
  background-color: $beachy-brown;
}

.thin-banner p{
  font-size: medium;
  color: $beige-white;
  font-family: $kalnia;
  padding: .5rem .5rem;
  animation: bannerReveal 2s ease-in-out;
}

@keyframes bannerReveal{
  from{transform: translate(-50%);}
  to{transform: translate(0%);}
}
