.brand-logo {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.navbar {
  background-color: #96896D;
}

.navbar-nav .nav-link {
  color: #E3E4CE;
  font-weight: 300;
}

.navbar-nav .nav-link:hover {
  color: #E3E4CE;
  opacity: 0.7;
}

.navbar-nav .nav-link.active {
  color: #E3E4CE !important;
  font-weight: 600;
}

.login-btn {
  background-color: #E3E4CE;
  color: #32322F;
  font-size: small;
  border-radius: 1rem;
  padding: 0.7rem 2rem;
  transition: 200ms ease-in-out;
}

.login-btn:hover {
  background-color: #E3E4CE;
  color: #32322F;
  opacity: 0.7;
}

.collage-img {
  width: 100%;
  height: 330px;
  opacity: 0.8;
  z-index: 1;
}

.landing-slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 5.5rem;
  color: #6D6247;
  font-family: "Kalnia", serif;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.style-txt {
  font-family: "Parisienne", cursive;
  font-weight: 600;
}

.collage-img.group-1 {
  animation: fadeIn 1s ease-in;
  animation-delay: 0.2s;
}

.collage-img.group-2 {
  animation: fadeIn 1s ease-in;
  animation-delay: 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
.search-form {
  background-color: #E3E4CE;
}

.search-form-wrapper {
  background-color: #7D7053;
  border-radius: 4px;
}

.search-btn {
  background: #32322F;
  color: #E3E4CE;
  transition: 200ms ease-in-out;
}

.search-btn:hover {
  background: #32322F;
  color: #E3E4CE;
  opacity: 0.8;
}

select {
  font-weight: 300 !important;
}

input {
  font-weight: 300 !important;
}

select:focus {
  outline: 3px solid #7D7053 !important;
  border: 1px solid #7D7053 !important;
}

input:focus {
  outline: 3px solid #7D7053 !important;
  border: 1px solid #7D7053 !important;
}

.carousel-img {
  max-height: 100vh; /* Adjust the percentage or use a fixed height as needed */
  width: auto; /* Ensures images resize proportionally */
  margin: 0 auto; /* Centers the images horizontally */
  opacity: 0.9;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-caption p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption a {
  text-decoration: none;
  font-weight: 600;
}

.discover-section {
  padding: 3rem 5rem;
}

.discover-section h1 {
  font-weight: 200;
  color: #32322F;
}

.discover-section img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.discover-name {
  background-color: #7D7053;
  color: #E3E4CE;
  border-radius: 4px;
  font-size: 1rem;
}

.discover-caption p:not(.discover-name) {
  color: #32322F;
  font-size: smaller;
}

.discover-caption a {
  text-decoration: none;
  color: #32322F;
}

.tabs-wrapper {
  padding: 3rem 5rem;
}

.tabs-wrapper h1 {
  color: #32322F;
}

.tabs-wrapper h4 {
  color: #32322F;
  font-size: large;
}

.country-card h1 {
  background-color: #7D7053;
  color: #E3E4CE;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  bottom: 28%;
}

.country-captions {
  background-color: rgba(227, 228, 206, 0.9);
  border-top-right-radius: 4px;
}

.country-captions h3 {
  font-size: x-large;
  color: #7D7053;
}

.country-captions .smaller-caption {
  font-size: small;
  opacity: 0.8;
  color: #32322F;
}

.country-captions p:not(.smaller-caption, .view-resort) {
  font-weight: 300;
  color: #32322F;
}

.country-captions a {
  text-decoration: none;
}

.view-resort {
  font-size: small;
  color: #7D7053;
  font-weight: 600;
}

.country-card img {
  width: 100%;
  height: 700px;
}

.tabs-wrapper .nav-link {
  color: #7D7053;
}

.tabs-wrapper .nav-link.active {
  background-color: #7D7053;
  color: #E3E4CE;
}

.quote-wrapper {
  padding: 5rem 6rem;
}

.quote-section {
  background-color: #96896D;
  color: #E3E4CE;
  border-radius: 4px;
}

.quote-caption {
  padding: 0rem 3rem;
}

.quotation {
  width: 100%;
  height: auto;
  max-width: 40px;
}

.quote-caption h3 {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.quote-caption .chairman {
  font-weight: 700;
  font-size: large;
}

.quote-caption p:not(.chairman) {
  font-weight: 200;
  font-size: smaller;
}

.quote-section img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.about-btn {
  background-color: #E3E4CE;
  color: #7D7053;
  transition: 200ms ease-in-out;
}

.about-btn:hover {
  background-color: #E3E4CE;
  color: #7D7053;
  opacity: 0.8;
}

.awards-section {
  padding: 3rem 5rem;
}

.awards-section img {
  padding: 1rem 1rem;
}

.thin-banner {
  background-color: #6D6247;
}

.thin-banner p {
  font-size: medium;
  color: #E3E4CE;
  font-family: "Kalnia", serif;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  animation: bannerReveal 2s ease-in-out;
}

@keyframes bannerReveal {
  from {
    transform: translate(-50%);
  }
  to {
    transform: translate(0%);
  }
}
.primary-bg {
  background-color: #E3E4CE;
}

.luxury-section {
  padding: 5rem 5rem;
  color: #32322F;
}

.luxury-section p {
  font-weight: 300;
}

.luxury-section img {
  border-radius: 4px;
}

.read-btn {
  background-color: #7D7053;
  color: #E3E4CE;
  transition: 200ms ease-in-out;
}

.read-btn:hover {
  background-color: #7D7053;
  color: #E3E4CE;
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */