
// DEFINE COLOURS & FONTS

$sandy-brown: #96896D;
$beachy-brown: #6D6247;
$lighter-brown: #7D7053;
$beige-white: #E3E4CE;
$grey-black: #32322F;

$paris-font: 'Parisienne', cursive;
$kalnia: 'Kalnia', serif;

@import 'navbar';
@import 'collage';
@import 'form';
@import 'carousel';
@import 'cards';
@import 'tabs';
@import 'about';
@import 'awards';

.thin-banner{
  background-color: $beachy-brown;
}

.thin-banner p{
  font-size: medium;
  color: $beige-white;
  font-family: $kalnia;
  cursor: pointer;
  padding: .5rem .5rem;
  animation: bannerReveal 2s ease-in-out;
}

@keyframes bannerReveal{
  from{transform: translate(-50%);}
  to{transform: translate(0%);}
}

.primary-bg{
  background-color: $beige-white;
}

.luxury-section{
  // padding: 5rem 12rem;
  padding: 5rem 5rem;
  color: $grey-black;
}

.luxury-section p{
  font-weight: 300;
}

.luxury-section img{
  border-radius: 4px;
}

.read-btn{
  background-color: $lighter-brown;
  color: $beige-white;
  transition: 200ms ease-in-out;
}

.read-btn:hover{
  background-color: $lighter-brown;
  color: $beige-white;
  opacity: .8;
}
